.projects-container {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project-card {
  max-width: 500px;
  margin: 2rem 0;
}
.project-img {
  max-width: 100%;
}
@media screen and (min-width: 760px) {
  .projects-container {
    flex-direction: row;
  }
}
