.main-title {
  text-align: center;
  margin-top: 2rem;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-field > * {
  margin: 0.25rem 0;
}

.form-field input {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.message-input {
  font-size: 1.25rem;
}

.submit-btn {
  padding: 0.5rem 1rem;
}

.secondary {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icon-set {
  display: flex;
  width: 50vw;
  background-color: rgb(77, 76, 76);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  justify-content: space-evenly;
  color: white;
  font-size: larger;
}
.icon-set a {
  color: white;
  width: 100%;
  text-align: center;
}
.icon-set a:hover {
  color: rgb(81, 225, 250);
}
