.about-section {
  margin: 10vh 15vw;
}

.about-section img {
  width: 75vw;
  max-width: 300px;
  border: 1px solid black;
}

.about-para {
  margin: 1rem 0;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .about-section {
    margin: 4vh 10vw;
  }
  .about-section img {
    width: 100%;
  }
}
